<!--    [id]="'root-drag'"-->
<div
        class="root"
        cdkDropList
        [id]="'root-drag'"
        [cdkDropListData]="root.children"
        [cdkDropListConnectedTo]="connectedTo"
        (cdkDropListDropped)="onDragDrop($event)"
>

    <ng-container *ngFor="let item of root.children">
        <app-sub-item
                [item]="item"
                [connectedTo]="connectedTo"
                (itemDrop)="onDragDrop($event)"
        >
        </app-sub-item>
    </ng-container>
</div>
